.button{
    font: inherit;
    border: 1px solid purple;
    background:  purple;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer
}

.button:hover,
.button:active{
    background: #940494;
}

.button:focus{
    outline: none;
}